<div class="container">
  <div class="content">
    <button (click)="addStr()">add number</button>
    <ol>
      <li *ngFor="let item of array">
        {{item}}
      </li>
    </ol>
    <hr>
    <hr>
    <hr>
    <div class="second">
      <div [style.background-color]="color" class="box">

      </div>
      <div class="radio_checkbox">
        <input (click)="color = 'gold'" name="radio" type="radio">
        <input (click)="color = 'silver'" name="radio" type="radio">
        <input (click)="color = 'blue'" name="radio" type="radio">
        <input (click)="color = 'red'" name="radio" type="radio">
      </div>
    </div>
  </div>
</div>
